:ruby

  @primary_palette = [
    {var: "slate",       hex: "45454c"},
    {var: "blue",        hex: "33a9e0"},
    {var: "slate-light", hex: "efeff4", alt: true},
    {var: "white",       hex: "fff",    alt: true}
  ]
  
  @blue_palette = [
    {var: "blue-light", hex: "e1f2fa", alt: true},
    {var: "blue",       hex: "33a9e0"},
    {var: "blue-dark",  hex: "0076ad"}
  ]

  @slate_palette = [
    {var: "slate-light", hex: "efeff4", alt: true},
    {var: "slate",       hex: "45454c"},
    {var: "slate-dark",  hex: "1e1e21"}
  ]

  @monochromatic_palette = [
    {var: "white",        hex: "fff",    alt: true},
    {var: "white-offset", hex: "f7f7f7", alt: true},
    {var: "gray-light",   hex: "ccc",    alt: true},
    {var: "gray",         hex: "999"},
    {var: "gray-dark",    hex: "666"},
    {var: "black-offset", hex: "333"},
    {var: "black",        hex: "000"}
  ]

  @secondary_pallets = [
    [
      {var: "red-light",    hex: "f7e2e2", alt: true},
      {var: "red",          hex: "cb4e52"},
      {var: "red-dark",     hex: "9c292d"}
    ],
    [
      {var: "gold-light",   hex: "fceddf", alt: true},
      {var: "gold",         hex: "f3ae4e"},
      {var: "gold-dark",    hex: "c07b1b"}
    ],
    [
      {var: "purple-light", hex: "cbd6f4", alt: true},
      {var: "purple",       hex: "6479bf"},
      {var: "purple-dark",  hex: "31468c"}
    ],
    [
      {var: "orange-light", hex: "f4d4c6", alt: true},
      {var: "orange",       hex: "ed844a"},
      {var: "orange-dark",  hex: "ba5117"}
    ],
    [
      {var: "green-light",  hex: "c8edcd", alt: true},
      {var: "green",        hex: "45ad60"},
      {var: "green-dark",   hex: "127a2d"}
    ],
    [
      {var: "pink-light",   hex: "f2d1e3", alt: true},
      {var: "pink",         hex: "d37295"},
      {var: "pink-dark",    hex: "a03f62"}
    ]
  ]


%h1 Colors

%p All colors include a variable, the required method for using a color, as well as Hexidecimal and RGB values for reference. When using a color as a text color or background color extend the proper silent class. Silent classes for colors begin with <code>color-</code> followed by the color name, <code>%color-blue</code> for example. Silent classes for backgrounds begin with <code>background-</code> followed by the color name, <code>%background-blue</code> for example.

-# ========================================
-# Primary Palette

%h2 Primary Palette

%ul.grid.sg-palette

  - @primary_palette.each do |color|
    
    %li.grid-col.grid-1-2{class: color_palette_class(color)}
      %code.sg-color-value $#{color[:var]}
      %code.sg-color-value ##{color[:hex]}

-# ========================================
-# Blue Palette

%h2 Blue Palette

%ul.grid.sg-palette

  - @blue_palette.each do |color|
    
    %li.grid-col.grid-1-1{class: color_palette_class(color)}
      %code.sg-color-value $#{color[:var]}
      %code.sg-color-value ##{color[:hex]}


-# ========================================
-# Slate Palette

%h2 Slate Palette

%ul.grid.sg-palette

  - @slate_palette.each do |color|
    
    %li.grid-col.grid-1-1{class: color_palette_class(color)}
      %code.sg-color-value $#{color[:var]}
      %code.sg-color-value ##{color[:hex]}

-# ========================================
-# Secondary Palette

%h2 Secondary Palette

.grid.sg-palette

  - @secondary_pallets.each do |pallet|
    %ul.grid-col.grid-1-3
      - pallet.each do |color|
        %li.grid-col.grid-1-1{class: color_palette_class(color)}
          %code.sg-color-value $#{color[:var]}
          %code.sg-color-value ##{color[:hex]}

-# ========================================
-# Monochromatic Palette

%h2 Monochromatic Palette

%ul.grid.sg-palette

  - @monochromatic_palette.each do |color|
    
    %li.grid-col.grid-1-3{class: color_palette_class(color)}
      %code.sg-color-value $#{color[:var]}
      %code.sg-color-value ##{color[:hex]}
