---
title: Style
---

%section#nav-color.sg-section= partial "partials/colors"
%section#nav-typography.sg-section= partial "partials/typography"
%section#nav-layout.sg-section= partial "partials/layout"
%section#nav-buttons.sg-section= partial "partials/buttons"
%section#nav-lists.sg-section-alt= partial "partials/lists"